/* estilos generales */
.img-thumbnail{
	margin: 20px 0;
}

.margin-arriba{
	margin-bottom: 60px;
}

/* estilos locales */

	/* index */
	.jumbotron{
		background-color: white;
		border: dashed lightgrey 2px;
		margin: 0;
	}
	/* mensaje en carrusel */
	.carousel-caption{
		color: rgba(128,250,128,0.6);
	}
	.glyphicon{
		color: black;
	}

